<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
	<link rel="icon" href="http://www.iconarchive.com/download/i75808/martz90/circle/books.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Search by Score</title>

</head>
<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Pacifico', cursive;">
        <p>
          <center>
          <font size="8">Search By Score</font>
          </center>
        </p>
      </div>
    </div>

    <form action="/search/score/results" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="range-start" placeholder="Readability Min" autofocus>
        <input type="text" class="form-control input-lg" name="range-end" placeholder="Readability Max">
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <br><br>
      <footer class="footer">
	      <p><a href='http://ec2-34-212-191-89.us-west-2.compute.amazonaws.com:5601/'> Kibana </a></p>
      </footer>
      </div>
    </div>
  </body>
</html>
